<!DOCTYPE html>
<html lang="en">



<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>GrooveNet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
</head>

<body>


    <!-- Preloader -->
    <div class="loader">
        <!-- Preloader inner -->
        <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="spinner" cx="50" cy="50" r="21" fill="#141414" stroke-width="2" />
            </svg>
        </div>
        <!-- End preloader inner -->
    </div>
    <!-- End preloader-->

    <!--Wrapper-->
    <div class="wrapper">


        <header class="header stopping">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-lg-2">
                        <a class="scroll logo" href="#wrapper">
                            <img class="mb-0" src="img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-10 text-right">
                        <nav class="main-nav">
                            <div class="toggle-mobile-but">
                                <a href="#" class="mobile-but">
                                    <div class="lines"></div>
                                </a>
                            </div>
                            <ul class="main-menu list-inline">
                                <li><a class="scroll list-inline-item" href="/">Home</a></li>
                                <li><a class="scroll list-inline-item" href="/about">About</a></li>
                                <li><a class="scroll list-inline-item" href="/discography">Discography</a></li>
                                <li><a class="scroll list-inline-item" href="/band">Band</a></li>
                                <li><a class="scroll list-inline-item" href="/tour">Tours</a></li>
                                <li><a class="scroll list-inline-item" href="/blog">News</a></li>
                                <li><a class="scroll list-inline-item" href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </header>
        <!--End header-->
        </section>
        <!--End hero section-->

        <!--About section-->
        <section id="about" class="about main brd-bottom">
            <img class="pattern-center" src="/static/img/right-pattern.png" alt="">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-md-5    ">
                        <div class="block-content text-center">
                            <h1 class="uppercase mb-0">A Different <br>Kind of Music</h1>
                            <p class="mt-2 lead w-95">Melbourne is the coastal capital of the southeastern Australian state of Victoria. At the city's centre is the modern Federation Square development, with plazas, bars, and restaurants by the Yarra River.</p>
                            <img class="sing mb-0" src="/static/img/signature.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-1   ">
                        <div class="block-content">
                            <ul class="block-images row">
                                <li class="col-md-6 col-sm-6"><img src="/static/img/3.jpg" alt=""> </li>
                                <li class="col-md-6 col-sm-6"><img src="/static/img/4.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="gap-one-bottom-md"></div>
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-md-6   ">
                        <div class="block-content">
                            <ul class="block-images row">
                                <li class="col-md-6 col-sm-6"><img src="/static/img/5.jpg" alt=""> </li>
                                <li class="col-md-6 col-sm-6"><img src="/static/img/6-1.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1  ">
                        <div class="block-content text-center">
                            <h4 class="uppercase">upcoming tour </h4>
                            <p>Fort Mason Center
                                <br> San Fancisco, CA</p>
                            <h4 class="uppercase h4">location </h4>
                            <p>Sunday to Wednesday
                                <br>July 23 to 26, 2017 </p>
                            <a class="btn btn-primary with-ico" href="#"><i class="icon-ticket"></i>buy a ticket</a>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-top-md">
                            <h4 class="uppercase">purchase music </h4>
                            <ul class="block-social list-inline mt-4">
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-apple"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-play"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-amazon"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-soundcloud"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-spotify"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End about section-->



        <!-- footer section -->
        <footer class="footer pb-5 bg-secondary text-center">
            <!--Container-->
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 ">
                        <div class="block-content pt-5 brd-top">
                            <p class="mb-0 ">GrooveNet Music Band - <a href="#" class="swap-color underline  mr-2">Privacy Policy</a> <a href="#" class="swap-color underline  mr-2">Terms of Use</a> <a href="#" class="swap-color underline">AdChoices</a>
                                <br> <a target="_blank" href="">GrooveNet Music</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End container-->
        </footer>
        <a class="block-top scroll hover-effect" href="#wrapper"><i class="icon-angle-up"></i></a>
    </div>
    <!-- End footer section -->


    <!-- End wrapper-->
    <!--Javascript-->
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/smooth-scroll.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/audio.min.js"></script>
    <script src="/static/js/twitterFetcher_min.js"></script>
    <script src="/static/js/instafeed.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/placeholders.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!-- Google analytics -->
    <!-- End google analytics -->


</body>


</html>