<!DOCTYPE html>
<html lang="en">



<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>GrooveNet Music</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
</head>

<body>


    <!-- Preloader -->
    <div class="loader">
        <!-- Preloader inner -->
        <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="spinner" cx="50" cy="50" r="21" fill="#141414" stroke-width="2" />
            </svg>
        </div>
        <!-- End preloader inner -->
    </div>
    <!-- End preloader-->

    <!--Wrapper-->
    <div class="wrapper">


        <header class="header stopping">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-lg-2">
                        <a class="scroll logo" href="#wrapper">
                            <img class="mb-0" src="img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-10 text-right">
                        <nav class="main-nav">
                            <div class="toggle-mobile-but">
                                <a href="#" class="mobile-but">
                                    <div class="lines"></div>
                                </a>
                            </div>
                            <ul class="main-menu list-inline">
                                <li><a class="scroll list-inline-item" href="/">Home</a></li>
                                <li><a class="scroll list-inline-item" href="/about">About</a></li>
                                <li><a class="scroll list-inline-item" href="/discography">Discography</a></li>
                                <li><a class="scroll list-inline-item" href="/band">Band</a></li>
                                <li><a class="scroll list-inline-item" href="/tour">Tours</a></li>

                                <li><a class="scroll list-inline-item" href="/blog">News</a></li>
                                <li><a class="scroll list-inline-item" href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </header>
        <!--End header-->
        </section>
        <!--End hero section-->







        <!--Discography section-->
        <section id="discography" class="discography main">
            <img class="pattern-center" src="/static/img/center-pattern.png" alt="">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="/static/img/sound-bars.png" alt="">
                                </div>
                                <h6 class="uppercase mb-1">life discography </h6>
                                <h1 class="uppercase mb-0">Discography</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content">
                            <a href="album-single.html" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/img/6.jpg" alt="">
                                    <h4 class="uppercase mb-0">limiteless</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content ">
                            <a href="album-single.html" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/img/7.jpg" alt="">
                                    <h4 class="uppercase mb-0">set me free</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content">
                            <a href="album-single.html" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/img/8.jpg" alt="">
                                    <h4 class="uppercase mb-0">how it feels</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="album-single.html" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/img/9.jpg" alt="">
                                    <h4 class="uppercase mb-0">tonight</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12  col-lg-8 col-md-10 ">
                        <div class="block-content gap-one-top-md text-center">
                            <div class="block-teaser ">
                                <h2 class="mb-0">PRE-ORDER THE NEW ALBUM AND GET ACCESS TO<br> THE PRE-SALE OF 'THE upcoming TOUR'</h2>
                                <a class="btn btn-primary mt-4" href="#">learn more</a>
                            </div>
                            <div class="block-presale gap-one-top-sm">
                                <ul class="list-inline">
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 1 : </h4> 2/07 - 2/09
                                    </li>
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 2 : </h4> 2/14 - 2/16
                                    </li>
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 3 : </h4> 2/21 - 2/23
                                    </li>
                                </ul>
                                <p class=" opc-50 mb-0">All pre-sales begin 12am local and end 6pm local time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End discography section-->










        <!-- footer section -->
        <footer class="footer pb-5 bg-secondary text-center">
            <!--Container-->
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 ">
                        <div class="block-content pt-5 brd-top">
                            <p class="mb-0 ">GrooveNet Music Band - <a href="#" class="swap-color underline  mr-2">Privacy Policy</a> <a href="#" class="swap-color underline  mr-2">Terms of Use</a> <a href="#" class="swap-color underline">AdChoices</a>
                                <br> <a target="_blank" href="">GrooveNet Music</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End container-->
        </footer>
        <a class="block-top scroll hover-effect" href="#wrapper"><i class="icon-angle-up"></i></a>
    </div>
    <!-- End footer section -->


    <!-- End wrapper-->
    <!--Javascript-->
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/smooth-scroll.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/audio.min.js"></script>
    <script src="/static/js/twitterFetcher_min.js"></script>
    <script src="/static/js/instafeed.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/placeholders.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!-- Google analytics -->
    <!-- End google analytics -->


</body>


</html>