<!DOCTYPE html>
<html lang="en">



<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>GrooveNet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
</head>

<body>

    <!-- Preloader -->
    <div class="loader">
        <!-- Preloader inner -->
        <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="spinner" cx="50" cy="50" r="21" fill="#141414" stroke-width="2" />
            </svg>
        </div>
        <!-- End preloader inner -->
    </div>
    <!-- End preloader-->

    <!--Wrapper-->
    <div class="wrapper">


        <header class="header stopping">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-lg-2">
                        <a class="scroll logo" href="#wrapper">
                            <img class="mb-0" src="img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-10 text-right">
                        <nav class="main-nav">
                            <div class="toggle-mobile-but">
                                <a href="#" class="mobile-but">
                                    <div class="lines"></div>
                                </a>
                            </div>
                            <ul class="main-menu list-inline">
                                <li><a class="scroll list-inline-item" href="/">Home</a></li>
                                <li><a class="scroll list-inline-item" href="/about">About</a></li>
                                <li><a class="scroll list-inline-item" href="/discography">Discography</a></li>
                                <li><a class="scroll list-inline-item" href="/band">Band</a></li>
                                <li><a class="scroll list-inline-item" href="/tour">Tours</a></li>

                                <li><a class="scroll list-inline-item" href="/blog">News</a></li>
                                <li><a class="scroll list-inline-item" href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </header>
        <!--End header-->
        </section>
        <!--End hero section-->




        <!--Video section-->
        <!--Tours section-->
        <section id="tour" class="tour  main">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-10 col-lg-9">
                        <div class="block-content  gap-one-bottom-md text-center">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="/static/img/sound-bars.png" alt="">
                                </div>
                                <h6 class="uppercase mb-1">reservation info</h6>
                                <h1 class="uppercase mb-0">Upcoming tours</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center ">
                    <div class=" col-lg-12 ">
                        <ul class="block-tabs list-inline text-center gap-one-bottom-sm">
                            <li class="active list-inline-item">
                                <h4 class="uppercase  mb-0">american tour</h4>
                            </li>
                            <li class="list-inline-item">
                                <h4 class="uppercase  mb-0">europeen tour</h4>
                            </li>
                        </ul>
                        <ul class="block-tab">
                            <!--Tab-->
                            <li class="active ">
                                <div class="block-content   text-left">
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Aug 31, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4" class="video-play-ico popup-youtube"><i class="icon-video-1"></i></a>
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Aug 31, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Sep 18, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4" class="video-play-ico popup-youtube"><i class="icon-video-1"></i></a>
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Sep 18, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Oct 05, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5 ">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Washington, DC, USA</h5>
                                                    <span class="opc-50">Capital One Arena</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Oct 19, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Houston, TX, USA</h5>
                                                    <span class="opc-50">Arena Theatre</span>
                                                </div>
                                            </div>
                                            <div class=" col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Nov 02, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4" class="video-play-ico popup-youtube"><i class="icon-video-1"></i></a>
                                                    <h5 class="mb-0  uppercase">Chicago, IL, USA</h5>
                                                    <span class="opc-50">United Center</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class=" mb-0 text-center text-small"><span class="opc-50">The American Tour 2018 -</span> <a class="link mb-0" href="#">Booking Enqueries</a> </p>
                            </li>
                            <li>
                                <div class="block-content  text-left">
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Nov 06, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Nov 20, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4" class="video-play-ico popup-youtube"><i class="icon-video-1"></i></a>
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center ">
                                                <h3>Dec 8, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Melbourne, AU</h5>
                                                    <span class="opc-50">Rod Laver Arena </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row ">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Dec 8, 2018 </h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Stockholm, Sweden</h5>
                                                    <span class="opc-50">Annexet</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Dec 8, 2018 </h3>
                                            </div>
                                            <div class=" col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4" class="video-play-ico popup-youtube "><i class="icon-video-1"></i></a>
                                                    <h5 class="mb-0 uppercase">Berlin, Germany</h5>
                                                    <span class="opc-50">Mercedes-Benz Arena</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 float-left text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Sep 18, 2018</h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0  uppercase">Monterrey, Mexico</h5>
                                                    <span class="opc-50">Machaca </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-content block-tour">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 text-center">
                                                <h3>Sep 18, 2018</h3>
                                            </div>
                                            <div class="col-lg-5 col-md-5">
                                                <div class="block-content pl-5">
                                                    <h5 class="mb-0 uppercase">Moscow, Russia</h5>
                                                    <span class="opc-50">Olimpiyskiy</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 text-md-right">
                                                <div class="block-content pr-4">
                                                    <a class="btn-s uppercase btn  with-ico " href="#"><i class="icon-ticket"></i>Vip</a>
                                                    <a class="btn-s uppercase btn  with-ico" href="#"><i class="icon-ticket"></i>Buy Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-0 text-center text-small"><span class="opc-50">The Europeen Tour 2018 -</span> <a class="link mb-0" href="#">Booking Enqueries</a> </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End tour section-->

        <!-- footer section -->
        <footer class="footer pb-5 bg-secondary text-center">
            <!--Container-->
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 ">
                        <div class="block-content pt-5 brd-top">
                            <p class="mb-0 ">GrooveNet Music Band - <a href="#" class="swap-color underline  mr-2">Privacy Policy</a> <a href="#" class="swap-color underline  mr-2">Terms of Use</a> <a href="#" class="swap-color underline">AdChoices</a>
                                <br> <a target="_blank" href="https://www.templateshub.net">GrooveNet Music</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End container-->
        </footer>
        <a class="block-top scroll hover-effect" href="#wrapper"><i class="icon-angle-up"></i></a>
    </div>
    <!-- End footer section -->


    <!-- End wrapper-->
    <!--Javascript-->
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/smooth-scroll.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/audio.min.js"></script>
    <script src="/static/js/twitterFetcher_min.js"></script>
    <script src="/static/js/instafeed.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/placeholders.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!-- Google analytics -->
    <!-- End google analytics -->


</body>


</html>